<div class="row ">
  <div *ngFor="let estudiante of ListarEstudiantes" class="col-4 pad-mar-card">

    <div class="card" style="width: 18rem;">
      <img src="{{estudiante.foto}}" class="card-img-top" alt="...">
      <div class="card-body">

        <h5 class="card-title">Nombre: {{estudiante.nombre}}</h5>
        <p class="card-text">
          Curso: {{estudiante.curso | titlecase }}
          <br>
          Calificación: {{estudiante.calificacion|number :'1.0-0' }}
        </p>
        <a href="#"
          [ngClass]="  estudiante.aprobado ?'btn btn-primary':'btn btn-danger'">{{estudiante.aprobado?'reincribir':'recursar'}}</a>
      </div>
    </div>
  </div>

</div>
